.skeleton-card {
  background: #3c3e44;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 220px;
  display: flex;
  flex-direction: column;

  .skeleton-image {
    width: 100%;
    height: 150px;
    background: #444;
  }

  .skeleton-info {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .skeleton-line {
    height: 12px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-color: #444;

    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );

    background-size: 200% 100%;
    background-repeat: no-repeat;

    display: block;

    animation: shimmer 1.5s infinite linear;

    &.title {
      height: 18px;
      width: 70%;
    }
    &.text {
      width: 90%;
    }
    &.short {
      width: 40%;
    }
  }
}
