<div class="card">
  <div class="card-image">
    <img [src]="character().image" [alt]="character().name" />
  </div>

  <div class="card-content">
    <div>
      <h3>{{ character().name }}</h3>

      <div class="status">
        <span class="indicator" [class]="character().status.toLowerCase()"></span>
        {{ character().status }} - {{ character().species }}
      </div>
    </div>

    <div class="location">
      <label>Last known location:</label>
      <p class="location-name">{{ character().location.name }}</p>
    </div>

    <button class="details-btn" [routerLink]="['/character', character().id]">View Details</button>
  </div>
</div>
