.card {
  display: flex;
  flex-direction: row;
  height: 220px;
  border: 1px solid solid;
  border-radius: 12px;
  overflow: hidden;
  background: #383635;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
  }

  .card-image {
    flex: 0 0 200px;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .card-content {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: 4px;

    h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #f1eeee;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #a2a5a5;
      font-size: 0.9rem;

      .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: gray;

        &.alive {
          background: #55cc44;
        }
        &.dead {
          background: #d63d2e;
        }
      }
    }
    .location {
      p {
        margin: 0;
        color: #f1eeee;
        font-size: 1rem;
        font-weight: 500;
      }

      label {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9rem;
        color: #a2a5a5;
        line-height: 1.2;
      }
    }
  }

  .details-btn {
    width: 100px;
    padding: 8px;
    border: none;
    background: #db6300;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #b95300;
    }
  }
}
