.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 40px;
  border: 1px solid solid;
  border-radius: 12px;
  background-color: #383635;
}

.card-image {
  display: flex;
  justify-content: center;
  //margin-bottom: 20px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #db6300;
    box-shadow: 0 0 20px rgba(219, 99, 0, 0.3);
    object-fit: cover;
  }
}

.card-content {
  h2 {
    margin: 0;
    font-size: 2.2rem;
    color: #f1eeee;
  }

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #a2a5a5;
    font-size: 1rem;

    .indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: gray;

      &.alive {
        background: #55cc44;
      }
      &.dead {
        background: #d63d2e;
      }
    }
  }
  .info-item {
    margin-top: 8px;

    p {
      margin: 0;
      color: #f1eeee;
      font-size: 1.2rem;
      font-weight: 500;
    }

    label {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
      color: #a2a5a5;
      line-height: 1.2;
    }
  }
}

.back-btn {
  margin-top: 40px;
  width: 150px;
  padding: 8px;
  border: none;
  background: #db6300;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    background: #b95300;
  }
}

.loader {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 40px;
  color: #aaa8a8;

  font-size: 1.5em;
}
