header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #1a1919;
  position: sticky;
  top: 0;
  z-index: 1000;

  .brand {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 30%;
    min-width: 0;
  }

  .logo {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1) rotate(5deg);
    }
  }

  h1 {
    padding-right: 30px;
    font-size: 1.8rem;
    color: #f1eeee;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .search-wrapper {
    position: relative;
    width: 400px;
    flex: none;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 100%;
    min-width: 0;

    padding: 10px 40px 10px 15px;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: white;
    outline: none;
    box-sizing: border-box;

    &:focus {
      border-color: #db6300;
      box-shadow: 0 0 10px rgba(219, 99, 0, 0.2);
    }
  }

  .clear-btn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: #f1eeee;
    }
  }

  .spacer {
    flex: 0 0 30%;
  }
}
