<header>
  <div class="brand">
    <a (click)="goHome()" class="logo-link">
      <img src="icons/logo.png" alt="Home" class="logo" />
    </a>
    <h1>Rick and Morty</h1>
  </div>

  @if (!isDetailsPage()) {
  <div class="search-wrapper">
    <input
      type="text"
      class="search-input"
      placeholder="Search characters..."
      [value]="searchTerm()"
      (input)="onSearch($event)"
      #searchInput
    />

    @if (searchTerm()) {
    <button class="clear-btn" (click)="clearSearch(searchInput)">&times;</button>
    }
  </div>
  }

  <div class="spacer"></div>
</header>
