<div class="grid">
  <!-- @for (char of characters(); track char.id) {
  <app-character-card [character]="char" />
  } @empty { @if (!isLoading()) {
  <div class="no-results">
    <p>No results found for your request "{{ searchTerm() }}"</p>
    <small>Try another name, for example "Rick" or "Morty"</small>
  </div>
  } } -->
  @if (isLoading()) { @for (i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]; track i) {
  <app-character-skeleton />
  } } @else { @for (character of characters(); track character.id) {
  <app-character-card [character]="character" />
  } @empty {
  <div class="no-results">
    <p>No results found for your request "{{ searchTerm() }}"</p>
    <small>Try another name, for example "Rick" or "Morty"</small>
  </div>
  } }
</div>
@if (totalInfo(); as info) { @if (info.pages > 1) {
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage() === 1">Previous</button>

  <span class="page-counter"> Page {{ currentPage() }} of {{ info.pages }} </span>

  <button (click)="nextPage()" [disabled]="currentPage() === info.pages">Next</button>
</div>
} }
