.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 16px;
  padding: 16px;
  min-height: 70vh;
  align-content: start;
}

.no-results {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 40px;
  color: #aaa8a8;

  p {
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  small {
    font-size: 1em;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
  padding-bottom: 20px;

  button {
    background-color: #db6300;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    &:disabled {
      background-color: #444;
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not(:disabled):hover {
      background-color: #b95300;
      transform: translateY(-2px);
    }
  }

  .page-counter {
    color: #f1eeee;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
