.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 16px;
  padding: 16px;
  min-height: 70vh;
}

.no-results {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 40px;
  color: #aaa8a8;

  p {
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  small {
    font-size: 1em;
  }
}
